{
  "presets": ["latest", "stage-1"],
  // "plugins": [
  //   [
  //     "transform-runtime",
  //     {
  //       "polyfill": false,
  //       "regenerator": false,
  //     },
  //   ],
  // ]
}
